.side__number {
  width: 284px;
  height: 38px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;
  font-size: 32px;
  margin-top: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: inherit;
  text-align: center;
  &.side__number-error {
    color: #ea0000;
  }
}
