@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

.player__play {
  position: absolute;
  width: 250px;
  height: 120px;
  padding: 10px;
  border-radius: 16px;
  top: calc(50% - 60px);
  left: calc(50% - 125px);
  color: white;
  text-shadow: 2px 2px 2px black;
  background-color: rgba(30, 25, 25, 0.7);
  animation: pulse 3s infinite;
  font-size: 36px;
  font-family: 'Ubuntu', sans-serif;
  transition: all 0.3s;
  &:hover {
    background-color: rgba(86, 79, 79, 0.9);
    text-shadow: 3px 3px 3px black;
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
