@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@400;700&display=swap');

html {
  &::-webkit-scrollbar {
    width: 16px;
    height: 8px;
    background-color: rgb(32, 30, 30);
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(117, 105, 105);
    border-radius: 9em;
    box-shadow: inset 0px 0px 2px 2px black;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: rgb(174, 161, 161);
  }
}

body {
  background-color: rgb(65, 61, 61);
}
